<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Diego Cardona</string>
		<key>email</key>
		<string>diegocardonaq@gmail.com</string>
		<key>cellphone</key>
		<string>311 315 7754</string>
		<key>roleInChurch</key>
		<string>Pastor </string>
		<key>attendingChurch</key>
		<string>Redil del Sur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Carlos Mendivelso</string>
		<key>email</key>
		<string>carlos.mendi@gmail.com</string>
		<key>cellphone</key>
		<string>311 443 2341</string>
		<key>roleInChurch</key>
		<string>Pastor</string>
		<key>attendingChurch</key>
		<string>Redil del Poblado</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jairo Suarez</string>
		<key>email</key>
		<string>jairito@gmail.com</string>
		<key>cellphone</key>
		<string>311 234 5432</string>
		<key>roleInChurch</key>
		<string>Pastor </string>
		<key>attendingChurch</key>
		<string>Redil del Sur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jair</string>
		<key>email</key>
		<string>jairsito@gmail.com</string>
		<key>cellphone</key>
		<string>312 233 4345</string>
		<key>roleInChurch</key>
		<string>Grupo de Alabanza</string>
		<key>attendingChurch</key>
		<string>Redil de la 33</string>
	</dict>
</array>
</plist>
